<%- include("./partials/header") %>
<div class="row">
   
    <div class="col-md-12">
        <form class="form-signin" action="/register" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
            <label for="inputUser" class="sr-only">Username</label>
            <input type="text" id="inputUser" class="form-control" name="username" placeholder="Username" required autofocus>
            <label for="firstName" class="sr-only">First Name</label>
            <input type="text" id="firstName" class="form-control" name="firstName" placeholder="First Name" required autofocus>
            <label for="lastName" class="sr-only">Last Name</label>
            <input type="text" id="lastName" class="form-control" name="lastName" placeholder="Last Name" required autofocus>
            <label for="email" class="sr-only">Last Name</label>
            <input type="email" id="email" class="form-control" name="email" placeholder="Email" required autofocus>
            <div class="hideAdmin" id="adminInput">
                <label for="adminCode" class="sr-only">Admin Code</label>
                <input type="text" id="adminCode" class="form-control" name="adminCode" placeholder="AdminCode" autofocus>
            </div>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        </form>
          <div class="form-signin">
            <a href="/museums">Go Back</a>
            <div class="showAdmin" >
                <button class="btn btn-xs btn-primary" onclick="onButtonClick()">Register As Admin</button>
            </div>
          </div>
    </div>
</div>

<!-- Script for Toggling Admin Field -->
<script >
    function onButtonClick(){
        if(document.getElementById('adminInput').className === "showAdmin") document.getElementById('adminInput').className="hideAdmin";
        else  document.getElementById('adminInput').className="showAdmin";
  }
</script>

<%- include("./partials/footer") %>